@font-face {
    font-family: 'HankRnd';
    src: url('/fonts/hBold.ttf') format('truetype');
    // font-weight: normal;
    // font-style: normal;
  }
  @font-face {
    font-family: 'HankRndThin';
    src: url('/fonts/hRegLight.ttf') format('truetype');
  }

  // @font-face {
  //   font-family: 'MyFont';
  //   src: url('/fonts/myfont.ttf') format('truetype');
  // }
  